{% extends 'index.html' %}

{% block body %}
    <div id="accordion" class="text-center mx-auto container">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    <h2>Coodinación parcial y total del evento</h2>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                La coordinación de una boda nace desde el proceso de elección de la Wedding Planner ideal, que atenderá
                las peticiones y exigencias de la pareja. Su función es velar en todo momento por el correcto desarrollo
                de cada detalle y sobrepasar las expectativas. En Cada encuentro los novios deben sentir que el proceso
                avanza con orden y debidamente planificado. La armonía en la celebración es el resultado de una correcta
                coordinación de la ceremonia y la recepción. Durante la coordinación se asume la logística
                correspondiente a todo servicio contratado, de ahí que se entienda por parcial o total.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    <h2>Música en vivo y grabada</h2>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                La música completará la ambientación de la ceremonia. Se elige una colección de música grabada elegida
                por la pareja, para el disfrute de todos los invitados. Este estilo se combina con temas que puedan ser
                tocados en vivos a dúo de violines, un cuarteto, o cuerpos musicales de mayor tamaño tales como
                Mariachis.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                    <h2>Animación</h2>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                La animación de la ceremonia a cargo de un profesional respaldará todo el programa y orden a seguir
                durante la celebración, puesto que seguirá cada detalle previamente organizado.


            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                    <h2>Decoración de Bodas Personalizadas y temáticas</h2>
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Hay quienes prefieren para el gran día personalizar el evento. Así los pretendientes sienten que
                celebran su unión más acorde con ellos mismos. La boda pasa de ser una celebración común a convertirse
                en un evento lleno de experiencias afines, tanto para los novios como para la familia que asiste.
                <br>
                Definitivamente se puede soñar con realizar bodas temáticas en Cuba. Cada vez son más los novios
                atrevidos que buscan inmortalizar su unión con toques únicos. A la vez que se personaliza a altos
                niveles también se decora con temáticas que fascinan a los novios. En este apartado no hay muchas
                reglas, no hay tradición todo es posible de modificar, de implantar, las novedades son la mejor
                herramienta.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                    <h2>Memorias de la celebración</h2>
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Las memorias del evento estarán salvadas y aseguradas al revisitar la fotografía y la grabación. Las
                instantáneas que obtendrás vendrán a completar cada idea borrosa que tengas de ese gran día, cada
                momento emotivo y de alegría que hayan vivido. Las imágenes captadas por el lente serán divertidas, y de
                una alta calidad, desde las más formales hasta las más creativas y artísticas.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                        aria-controls="collapseSeven">
                    <h2>Servicio de Catering</h2>
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                ¿Qué ofrecer de comida a los invitados? Siempre es motivo de preocupación. La mejor manera de decidir
                que puedes brindar a tus invitados es organizar un menú acorde a las circunstancias del evento. Bien
                puede preferirse un buffet tipo coctel, uno dirigido, una tabla de variedades o una cena con toda la
                vajilla correspondiente. El personal que atienda debe cumplir con todos los requisitos pertinentes,
                tanto de vestuario como eficiencia laboral, para contribuir a la higiene y organización de la ceremonia.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                        aria-expanded="false" aria-controls="collapseNine">
                    <h2> Floristería</h2>
                </button>
            </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                La decoración con flores acompaña generalmente las celebraciones matrimoniales. Es necesario un
                conocimiento
                adecuado de botánica, jardinería, saber combinar tipos de follaje y flores, así el resultado será
                armónico y
                visualmente encantador. El trabajo con flores de importación asegura la calidad adecuada hasta el final
                de
                la ceremonia.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTen">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"
                        aria-expanded="false" aria-controls="collapseNine">
                    <h2>Papelería</h2>
                </button>
            </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="card-body">
                Las invitaciones para asistir a una boda generan la mayor expectativa entorno a la celebración: ¿Qué
                tipo de
                celebración será? Qué colores destacará, qué estilo habrán elegido los novios? Por ello las invitaciones
                deben captar en su diseño la caracterización de la boda. Luego toda la papelería debe conjugar y mostrar
                el
                mismo estilo y diseño, de esta manera tus invitados quedarán prendados.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEleven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                        aria-expanded="false" aria-controls="collapseEleven">
                    <h2>Estilista</h2>
                </button>
            </h5>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
            <div class="card-body">
                Una novia es bella porque sí, pero el cuidadoso estilo en el maquillaje y peinado resaltará cada rasgo,
                y hará que brille en el gran día.
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block servicios %}

{% endblock %}